<ng-template appPlaceholder></ng-template>
<app-logo></app-logo>
<div class="container">

  <header class="blog-header py-2">
    <div class="row flex-nowrap justify-content-center">
      <!-- <div class="col-auto mr-auto text-dark text-center">
        <a class="text-dark " href="#">Subscribe</a>
      </div> -->
      <div class="col text-dark text-center align-self-center">
        <button type="button" class="grow btn btn-sm" (click)="onLoadCart()"><fa-icon [icon]="faShoppingCart" size="2x"></fa-icon><span *ngIf="productsInCart">({{cartLength}})</span></button>
      </div>
      <div class="col text-dark text-center align-self-center">
        <button type="button" class="grow btn btn-sm" (click)="onLoadProfile()"><fa-icon [icon]="faUser" size="2x"></fa-icon></button>
      </div>
      <div class="col text-dark text-center align-self-center">
        <button type="button" class="grow btn btn-sm mt-1" [disabled]="!isAuthenticated" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </header>
<div class="d-block sticky text-center py-1 px-5 mb-2 bg-white" style="border-bottom: 1px solid #e5e5e5;">
  <nav class="nav d-flex justify-content-around text-center text-dark">
    <a class="grow btn" (click)="onLoadHome()">HOME PAGE</a>
    <a class="grow btn" (click)="onLoadMaleBrowse()">MALE ATTIRE</a>
    <a class="grow btn" (click)="onLoadFemaleBrowse()">FEMALE ATTIRE</a>
    <a class="grow btn" (click)="onLoadChildrenBrowse()">CHILDREN ATTIRE</a>
    <a class="grow btn" (click)="onLoadShoesBrowse()">SHOES</a>
    <a class="grow btn" (click)="onLoadAccessoryBrowse()">ACCESSORIES</a>
    <a *ngIf="!isAuthenticated" class="grow btn" (click)="onLoadLogin()">LOGIN/REGISTER</a>
  </nav>
</div>

</div>
