

<ng-template appPlaceholder></ng-template>
<div class="d-block" style="background-color: #232323">
  <div class="row text-center" style="background-color: #232323; border-radius: 0% 0% 20% 20%">
    <div class="col">
      <img class="shadow-lg mb-1" width="auto" height="200" src="assets/images/FRUlogo.png" alt="Photo" style="z-index: 4;">
    </div>
  </div>
  <div class="container-fluid text-center py-1 text-white" style="background-color: #232323">
    <nav class="nav d-flex justify-content-center text-center text-white">
      <button type="button" class="grow btn mx-2" (click)="onLoadHome()">HOME-PAGE</button>
      <button type="button" class="grow btn mx-2" (click)="onLoadMaleBrowse()">MALE-ATTIRE</button>
      <button type="button" class="grow btn mx-2" (click)="onLoadFemaleBrowse()">FEMALE-ATTIRE</button>
      <button type="button" class="grow btn mx-2" (click)="onLoadChildrenBrowse()">CHILDREN-ATTIRE</button>
      <button type="button" class="grow btn mx-2" (click)="onLoadShoesBrowse()">SHOES</button>
      <button type="button" class="grow btn mx-2" (click)="onLoadAccessoryBrowse()">ACCESSORIES</button>
      <button type="button" class="grow btn mx-2" (click)="onLoadLogin()" *ngIf="!isAuthenticated">LOGIN/REGISTER</button>
      <button type="button" class="grow btn mx-2" [disabled]="!isAuthenticated" (click)="onLogout()">LOGOUT</button>
      <button type="button" class="grow btn mx-2" (click)="onLoadCart()">
        <fa-icon [icon]="faShoppingCart" size="1x"></fa-icon><span *ngIf="productsInCart">({{cartLength}})</span>
      </button>
      <button type="button" class="grow btn" (click)="onLoadProfile()">
        <fa-icon [icon]="faUser" size="1x"></fa-icon>
      </button>
    </nav>
  </div>
</div>
