
.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.grow:hover, .button:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;

  background-color: #d9d7cf;
  color: #272727;
  box-shadow: none;
  z-index: 20;
}

.grow, .button:active  {
  letter-spacing: 3px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  color: #f8f9fa;
  box-shadow: none;
}

/* .button:active, .grow  {
  background-color: #ebebeb;
  box-shadow: none;
}

.button:hover, .grow:hover, {
  background-color: #d9d7cf;
  box-shadow: none;
} */
