<footer>
<div class="d-block text-center" style="background-color: #d9d7cf">
  <div class="row justify-content-between">
    <div class="col-sm pb-1">
      <p class="lead pt-1 mb-0" style="font-weight:400; color: #434343">Help</p>
      <a href="" class="lead text-secondary">Contact Fashion R'Us</a>
      <br />
      <a href="" class="lead text-secondary">Receipts and refunds</a>
      <br />
      <a href="" class="lead text-secondary">FAQs</a>
      <br />
      <a href="" class="lead text-secondary">Customer service</a>
      <br />
      <a href="" class="lead text-secondary">Conditions of service</a>
    </div>
    <div class="col-sm pb-1">
      <p class="lead pt-1 mb-0" style="font-weight:400; color: #434343">About Fashion R'Us</p>
      <a href="" class="lead text-secondary">About Us</a>
      <br />
      <a href="" class="lead text-secondary">Careers</a>
      <br />
      <a href="" class="lead text-secondary">Legal, privacy, copyright</a>
      <br />
      <a href="" class="lead text-secondary">Browser compatibility</a>
      <br />
      <a href="" class="lead text-secondary">Web Accessibility</a>
    </div>
    <div class="col-sm pb-1">
      <p class="lead pt-1 mb-0" style="font-weight:400; color: #434343">Extras</p>
      <a href="" class="lead text-secondary">Business programs</a>
      <br />
      <a href="" class="lead text-secondary">Gift cards</a>
      <br />
      <a href="" class="lead text-secondary">Fashion R'Us credit card</a>
      <br />
      <a href="" class="lead text-secondary">Shipping Rates</a>
      <br />
      <a href="" class="lead text-secondary">CoBrowse</a>
    </div>
  </div>
</div>

<div class="d-block text-center text-light p-2" style="background-color: #272727">
  <div class="row justify-content-between">
    <div class="col-sm p-2">
      <h4 class="lead" style="font-weight:500;">Subscribe for special offers below</h4>
      <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control text-center" placeholder="Email Address" aria-label="Recipient's Email" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="button-addon2">Subscribe</button>
        </div>
      </div>
      <a href="" class="text-light">Unsubscribe or change your preferences</a>
    </div>
    <div class="col-sm p-2">
      <h4 class="lead" style="font-weight:500;">Mobile Apps ad Site</h4>
      <p>Browse our inventory and order from your mobile device</p>
      <a href=""><img src="assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="App Store" style="width:100px;height:50px;border:0;"></a>
      <a href=""><img src="assets/images/google-play-badge.png" alt="Google Play" style="width:100px;height:50px;border:0;"></a>
    </div>
    <div class="col-sm p-2">
      <h4 class="lead" style="font-weight:500;">Connect with us</h4>
      <a href=""><img src="assets/images/facebook-flat-vector-logo.png" alt="Social Media" style="width:50px;height:50px;border:0;"></a>
      <a href=""><img src="assets/images/new-twitter-logo-vector.png" alt="Social Media" style="width:50px;height:50px;border:0;"></a>
      <a href=""><img src="assets/images/linkedin-icon-logo-vector.png" alt="Social Media" style="width:50px;height:50px;border:0;"></a>
      <a href=""><img src="assets/images/youtube-logo-vector-download.jpg" alt="Social Media" style="width:50px;height:50px;border-radius:100px;"></a>
    </div>
  </div>
  <p class="my-2">
    Copyright ©<span>2020</span> Louis Diaz - All Rights Reserved.
  </p>
</div>
</footer>
