<div class="container fixed text-center m-auto bg-light p-3">
  <div class="row justify-content-center">
    <div class="col-sm text-secondary">
      <h3 class="lead" style="font-size: 200%; text: 6c6c6c">Help</h3>
      <div style="border-style: solid; border-color: #d1d1d1; border-width: 0.5px; width: 50%; margin: auto; border-radius:10px;"></div>
      <a href="" class="lead text-secondary">Contact Fashion R'Us</a>
      <br />
      <a href="" class="lead text-secondary">Receipts and refunds</a>
      <br />
      <a href="" class="lead text-secondary">FAQs</a>
      <br />
      <a href="" class="lead text-secondary">Customer service</a>
      <br />
      <a href="" class="lead text-secondary">Conditions of service</a>
    </div>
    <div class="col-sm text-secondary">
      <h3 class="lead" style="font-size: 200%; text: 6c6c6c">About Fashion R'Us</h3>
      <div style="border-style: solid; border-color: #d1d1d1; border-width: 0.5px; width: 50%; margin: auto; border-radius:10px"></div>
      <a href="" class="lead text-secondary">About Us</a>
      <br />
      <a href="" class="lead text-secondary">Careers</a>
      <br />
      <a href="" class="lead text-secondary">Legal, privacy, copyright</a>
      <br />
      <a href="" class="lead text-secondary">Browser compatibility</a>
      <br />
      <a href="" class="lead text-secondary">Web Accessibility</a>
    </div>
    <div class="col-sm text-secondary">
      <h3 class="lead" style="font-size: 200%; text: 6c6c6c">Extras</h3>
      <div style="border-style: solid; border-color: #d1d1d1; border-width: 0.5px; width: 50%; margin: auto; border-radius:10px"></div>
      <a href="" class="lead text-secondary">Business programs</a>
      <br />
      <a href="" class="lead text-secondary">Gift cards</a>
      <br />
      <a href="" class="lead text-secondary">Fashion R'Us credit card</a>
      <br />
      <a href="" class="lead text-secondary">Shipping Rates</a>
      <br />
      <a href="" class="lead text-secondary">CoBrowse</a>
    </div>
  </div>
</div>

<div class="container fixed text-center bg-secondary text-light p-3">
  <div class="row">
    <div class="col-sm">
      <h4 class="lead" style="font-size: 200%; color: #2e2d2d">Subscribe for special offers</h4>
      <!-- <div class="container m-auto p-2" style="border-top: solid; border-width: 0.5px; border-color: #6d6d6d"></div> -->
      <a href="" style="color: #2e2d2d">Unsubscribe or change your preferences</a>
      <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's Email" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button" id="button-addon2">Subscribe</button>
        </div>
      </div>
      <p style="color: #2e2d2d">For details about how we use your information, please see our privacy policy.</p>
    </div>
    <div class="col-sm">
      <h4 class="lead" style="font-size: 200%; color: #2e2d2d">Mobile Apps ad Site</h4>
      <!-- <div class="container m-auto p-2" style="border-top: solid; border-width: 0.5px; border-color: #343a40"></div> -->
      <p style="color: #2e2d2d">Browse our inventory and order from your mobile device</p>
      <a href=""><img src="assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="App Store" style="width:100px;height:50px;border:0;"></a>
      <a href=""><img src="assets/images/google-play-badge.png" alt="Google Play" style="width:100px;height:50px;border:0;"></a>
    </div>
    <div class="col-sm">
      <h4 class="lead" style="font-size: 200%; color: #2e2d2d">Connect with us</h4>
      <!-- <div class="container m-auto p-2" style="border-top: solid; border-width: 0.5px; border-color: #343a40"></div>
      <p class="text-light">Share your Fashion R'Us Experience</p> -->
      <a href=""><img src="assets/images/facebook-flat-vector-logo.png" alt="Social Media" style="width:50px;height:50px;border:0;"></a>
      <a href=""><img src="assets/images/new-twitter-logo-vector.png" alt="Social Media" style="width:50px;height:50px;border:0;"></a>
      <a href=""><img src="assets/images/linkedin-icon-logo-vector.png" alt="Social Media" style="width:50px;height:50px;border:0;"></a>
      <a href=""><img src="assets/images/youtube-logo-vector-download.jpg" alt="Social Media" style="width:50px;height:50px;border-radius:100px;"></a>
    </div>
  </div>
  <!-- <div class="container m-auto" style="border-top: solid; border-width: 0.5px; border-color: #343a40"></div> -->
  <p class="mt-2" style="color: #2e2d2d">
    Copyright ©<span>2020</span> Team Alpha - All Rights Reserved.
  </p>
</div>
