:host {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.mainblock {
  border: none !important;
  display: block;
  width: 100vw;
  height: auto;
  /* background: url("/assets/images/FRUbg2.svg"); */
  /* background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  /* z-index: 0; */
}

.collection-card .stripe.dark {
	background-color: rgba(0,0,0,.7);
}

.collection-card .stripe {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    padding: 1.2rem;
}

.collection-card .stripe.light {
	background-color: hsla(0,0%,100%,.7);
}

.collection-card {
  animation-name: animateIn;
  animation-duration: 1000ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}

.card {
  font-weight: 400;
	word-wrap: break-word;
  margin-top: -20px;
}


li .current {
  background-color: #232323 !important;
}

.btn-outline-dark:hover {
	color: #232323;
  background-color: white;
	border-color: #232323;
  border-radius: 0;
  border-width: 2px;
}

.btn-outline-dark {
	color: white;
	border-color: #232323;
  background-color: #232323;
  border-radius: 0;
  border-width: 2px;
}
