<div class="container">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Active Wear. <span class="text-muted">Starting at $7.99.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1 text-center">
      <img src="assets/images/img1.jpg" class="bd-placeholder-img rounded img-fluid shadow" width="500" height="500" alt="...">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Sun. Sand. Swim. <span class="text-muted">Jump into this season's swimwear styles.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-2 text-center">
      <img src="assets/images/sw.jpg" class="bd-placeholder-img rounded img-fluid shadow" width="500" height="500" alt="...">
    </div>
  </div>
</div>
<br />
