<div class="featurettebox1 animated fadeInLeft">
  <div class="row">
    <div class="col-md-5 order-md-2 align-self-center animated fadeInRight">
      <h1 class="featurette-heading text-white text-center m-auto">Active Wear. <span style="color: #d9d7cf">Starting at $7.99.</span></h1>
      <p class="lead text-white text-center m-auto">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-7 order-md-1 align-self-center">
      <div class="imagebox img-bg"><img src="assets/images/img1.jpg" alt="..."></div>
    </div>
  </div>
</div>

<div class="featurettebox2 animated fadeInRight">
  <div class="row">
    <div class="col-md-5 order-md-1 align-self-center animated fadeInLeft">
      <h1 class="featurette-heading text-white text-center m-auto">Sun. Sand. Swim. <span style="color: #d9d7cf">Jump into this season's swimwear styles.</span></h1>
      <p class="lead text-white text-center m-auto">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
    </div>
    <div class="col-md-7 order-md-2 align-self-center">
      <div class="imagebox2 img-bg2"><img src="assets/images/sw.jpg" alt="..."></div>
    </div>
  </div>
</div>
