:host {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}


@media (min-width: 1200px) {
  .featurette-heading {
    font-size: 3rem;
  }
}

@media (max-width: 500px) and (max-width: 1100px) {
  .featurette-heading {
    font-size: 5rem;
  }
}

@media (max-width: 499px) {
  .featurette-heading {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .featurette-heading2 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) and (max-width: 1100px) {
  .featurette-heading2 {
    font-size: 4rem;
  }
}

@media (max-width: 499px) {
  .featurette-heading2 {
    font-size: 1rem;
  }
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
  --animate-delay: 4s;
}

.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
  --animate-delay: 4s;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading2 {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurettebox1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.featurettebox2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconArrow {
  margin-top: 5px;
  color: white;
}

.iconArrow:hover {
  margin-top: 5px;
  color: #d9d7cf;
}

.row {
  width: 100vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.imagebox {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.imagebox::after {
  display: block;
  position: absolute;
  content: ' ';
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 2;
}

.imagebox2 {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.imagebox2::before {
  display: block;
  position: absolute;
  content: ' ';
  background-color: #2f2f2f;
  width: 100%;
  height: 100%;
  top: -3%;
  left: -2%;
  z-index: -2;
}

.imagebox2::after {
  display: block;
  position: absolute;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 3%;
  right: -2%;
  z-index: -1;
}

.imagebox3 {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.imagebox3::before {
  display: block;
  position: absolute;
  content: ' ';
  background-color: #2f2f2f;
  width: 100%;
  height: 100%;
  top: -3%;
  left: 2%;
  z-index: -2;
}

.imagebox3::after {
  display: block;
  position: absolute;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 3%;
  right: 2%;
  z-index: -1;
}

.img-bg img {
  // background: #232323;
  // opacity: 100% !important;
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

.img-bg2 img {
  // background: #232323;
  // opacity: 100% !important;
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}
