<div style="height: 100vh">
<div (click)="onLoadHome()" style="text-align: center; position: relative; z-index: 2; margin-left: auto; margin-right: auto; padding-top: 10px;">
  <span class="iconArrow"><fa-icon [icon]="faAngleUp" size="5x"></fa-icon></span>
</div>
<hr />
  <div class="featurettebox1">
    <div class="row">
      <div class="col-md-5 order-md-2 align-self-center animated fadeInRight">
        <h1 class="featurette-heading text-white text-center m-auto">Active Wear. <span style="color: #d9d7cf">Starting at $7.99.</span></h1>
        <h4 class="featurette-heading2 text-light text-center my-3 py-1">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</h4>
      </div>
      <div class="col-md-7 order-md-1 align-self-center animated fadeInLeft">
        <div class="imagebox img-bg"><img src="assets/images/img1.jpg" alt="..."></div>
      </div>
    </div>
  </div>
<hr />
  <div class="featurettebox2">
    <div class="row">
      <div class="col-md-5 order-md-1 align-self-center animated fadeInLeft">
        <h1 class="featurette-heading text-white text-center m-auto">Sun. Sand. Swim. <span style="color: #d9d7cf">Jump into this season's swimwear styles.</span></h1>
        <h4 class=" featurette-heading2 text-light text-center my-3 py-1">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</h4>
      </div>
      <div class="col-md-7 order-md-2 align-self-center animated fadeInRight">
        <div class="img-bg2"><img src="assets/images/sw.jpg" alt="..."></div>
      </div>
    </div>
  </div>
<hr />
</div>
