<br />
<div class="container text-center" style="width: 50%">
  <h2 class="mt-1 bg-dark p-2 text-light rounded" style="letter-spacing: 4px;">Shopping Cart</h2>
  <br />
  <h5 *ngIf="checkIfCartIsEmpty()"><i>No items in cart</i></h5>
  <ul class="list-group">
    <li class="list-group-item text-center justify-content-between" *ngFor="let product of (items | async).cartItems; index as i">
      <img src={{product.IMAGE}} class="rounded-circle" width="20%" height="auto" alt="...">
      <h5>{{product.GENDER}} {{product.CATEGORY}} {{product.COLOR}} {{product.TYPE}}</h5>
      <button type="button" class="btn btn-dark btn-sm" (click)="removeFromCart(i)">Remove Item</button>
    </li>
  </ul>
  <button *ngIf="!checkIfCartIsEmpty()" type="button" class="btn btn-outline-dark btn-lg mt-3 mb-3" (click)="startCheckout()">Checkout</button>
  <br />
</div>
<br />
