<div class="mainblock">
  <div class="sectionheader">SHOPPING CART</div>
      <div class="pageClass">
        <h2 *ngIf="checkIfCartIsEmpty()" class="p-2 text-dark text-center">No items in cart</h2>
      <div class="row justify-content-center pt-2">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center text-dark justify-content-between" *ngFor="let product of (items | async).cartItems; index as i">
              <img src={{product.IMAGE}} class="rounded-circle" width="20%" height="auto" alt="...">
              <h5>{{product.GENDER}} {{product.CATEGORY}} {{product.COLOR}} {{product.TYPE}}</h5>
              <button type="button" class="btn btn-sm" (click)="removeFromCart(i)" style="background-color: #232323; color: white; border-radius: 0">Remove Item</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 align-self-center">
          <button *ngIf="!checkIfCartIsEmpty()" type="button" class="btn btn-md mt-3 mb-3" style="background-color: #232323; color: white; border-radius: 0" (click)="startCheckout()">Checkout</button>
        </div>
      </div>
    </div>
</div>
