<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="mainblock" *ngIf="!isLoading">
  <div class="container" *ngIf="ShowParentComponent">
    <div class="row justify-content-center text-center">
      <h2 class="display-4 text-light px-2 mt-2">MEN APPAREL</h2>
    </div>
    <div class="row justify-content-center p-3">
      <div class="card bg-white text-center shadow p-3 mx-2 my-2" *ngFor="let product of products | paginate: { itemsPerPage: 4, currentPage: page, totalItems: length }" style="border-radius: 0">
        <h4 class="m-auto text-dark" style="font-weight: 300">{{product.CATEGORY}} {{product.GENDER}}</h4>
        <h4 class="m-auto text-dark" style="font-weight: 300">{{product.COLOR}} {{product.TYPE}}</h4>
        <img width="300" height="auto" src={{product.IMAGE}} alt="Photo" class="mt-2">
        <button type="button" class="btn btn-block p-1" (click)="onLoadDetails(product)" style="background-color: #232323; color: white; border-radius: 0;">View Product</button>
      </div>
    </div>
    <div *ngIf="!isLoading" class="d-block text-center text-dark p-3" style="background-color: #d9d7cf">
      <pagination-controls responsive="true" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<div [@fromBottomEasing]="showChildComponent">
  <app-product-detail *ngIf="showChildComponent" [currentProduct]="currentProduct" (close)="onClose()"></app-product-detail>
</div>
