<div class="container">
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let product of products">
      <h3 class="m-auto text-dark"><i>{{product.GENDER}} {{product.CATEGORY}} {{product.COLOR}} {{product.TYPE}}</i></h3>
      <img width="auto" height="200" src={{product.IMAGE}} alt="Photo">
      <mat-grid-tile-footer [style.background]="'white'"><button type="button" class="btn btn-outline-dark btn-lg btn-block p-1"> View Product </button></mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
<hr />
</div>
