<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!paidFor">
  <div [hidden]="isLoading" class="container text-center" style="background-color: #d9d7cf">
    <div class="text-center">
      <h2 class="display-4 text-dark">Order Description</h2>
      <hr />
    </div>
    <h4>Product(s) description</h4>
    <p *ngFor="let product of (items | async).cartItems; index as i"><b>Item:</b> {{product.GENDER}} {{product.CATEGORY}} {{product.COLOR}} {{product.TYPE}}</p>
    <h4>Order Total</h4>
    <p><b>Total before tax:</b> ${{ beforeTax }}</p>
    <p><b>Estimated tax to be collected:</b> ${{ taxSale }}</p>
    <p><b>Total:</b> ${{ totalSale }}</p>


    <div class="text-center">
      <h2 class="display-4 text-dark">Verify Shipping Address</h2>
      <hr />
    </div>
    <form #memberModel="ngForm">
      <div class="form-row lead">
        <div class="form-group col-md-6">
          <label for="firstname"><b>First name</b></label>
          <input type="text" class="form-control" style="text-align: center" id="firstname" placeholder={{model.firstname}} [(ngModel)]="model.firstname" name="firstname" required>
        </div>
        <div class="form-group col-md-6">
          <label for="lastname"><b>Last name</b></label>
          <input type="text" class="form-control" style="text-align: center" id="lastname" placeholder={{model.lastname}} [(ngModel)]="model.lastname" name="lastname" required>
        </div>
      </div>
      <div class="form-group lead">
        <label for="addressstreet"><b>Address</b></label>
        <input type="text" class="form-control" style="text-align: center" id="addressstreet" placeholder={{model.addressstreet}} [(ngModel)]="model.addressstreet" name="addressstreet" required>
      </div>
      <div class="form-row lead">
        <div class="form-group col-md-6">
          <label for="city"><b>City</b></label>
          <input type="text" class="form-control" style="text-align: center" id="city" placeholder={{model.city}} [(ngModel)]="model.city" name="city" required>
        </div>
        <div class="form-group col-md-4 lead">
          <label for="state"><b>State</b></label>
          <select id="state" class="form-control" style="text-align: center" [(ngModel)]="model.state" name="state" required>
            <option selected>Choose...</option>
            <option *ngFor="let state of states">{{state}}</option>
          </select>
        </div>
        <div class="form-group col-md-2 lead">
          <label for="zipcode"><b>Zip</b></label>
          <input type="text" class="form-control" style="text-align: center" id="zipcode" placeholder={{model.zipcode}} [(ngModel)]="model.zipcode" name="zipcode" required>
        </div>
      </div>
      <div class="form-row lead justify-content-center">
        <div class="form-group col-md-4 lead">
          <label for="country"><b>Country</b></label>
          <select id="country" class="form-control" style="text-align: center" [(ngModel)]="model.country" name="country" required>
            <option selected>{{model.country}}</option>
            <option *ngFor="let country of countryList">{{country}}</option>
          </select>
        </div>
        <div class="form-group col-md-4 lead">
          <label for="phone"><b>Phone</b></label>
          <input type="text" class="form-control" style="text-align: center" id="phone" placeholder={{model.phone}} [(ngModel)]="model.phone" name="phone" appPhoneMaskDirective required>
        </div>
      </div>
    </form>
    <br />
  </div>
</div>
<div *ngIf="paidFor" class="confirmationblock">
  <div class="container text-center p-2">
    <h1 class="display-4 text-dark">ORDER CONFIRMATION</h1>
    <h5><b>Order Id: </b>{{ confirmation.orderid }}</h5>
    <h5><b>Payment Method: </b>{{ confirmation.paymethod }}</h5>
    <h5><b>Order Date: </b>{{ confirmation.orderdate }}</h5>
    <h5 *ngFor="let product of (items | async).cartItems; index as i"><b>Items Ordered: </b> {{product.GENDER}} {{product.CATEGORY}} {{product.COLOR}} {{product.TYPE}}</h5>
    <h5><b>Total Sale: </b>{{ confirmation.totalsale }}</h5>
    <button type="button" class="btn btn-md p-1" (click)="onLoadHome()" style="background-color: #232323; color: white; border-radius: 0;">Home Page</button>
  </div>
</div>
<div [hidden]="paidFor" class="container text-center mt-1">
  <div #paypal></div>
</div>
