:host {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.confirmationblock {
  border: none !important;
  display: block;
  background-color: #d9d7cf;
  width: 100%;
  height: 100vh;
  padding: 5px;
}
