<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="container m-auto" *ngIf="ShowParentComponent">
  <div class="row justify-content-center p-3">
    <!-- <div class="col-auto"> -->
      <div class="card text-center shadow-sm p-3 mx-2 my-2" *ngFor="let product of products | paginate: { itemsPerPage: 4, currentPage: page, totalItems: length }">
        <h4 class="m-auto text-dark">{{product.CATEGORY}} {{product.GENDER}}</h4>
        <h4 class="m-auto text-dark">{{product.COLOR}} {{product.TYPE}}</h4>
        <img width="200" height="auto" src={{product.IMAGE}} alt="Photo">
        <button type="button" class="btn btn-outline-dark btn-block p-1" (click)="onLoadDetails(product)">View Product</button>
      </div>
    <!-- </div> -->
  </div>
  <hr />
  <pagination-controls responsive="true" (pageChange)="page = $event"></pagination-controls>
</div>

<div class="container">
  <app-product-detail *ngIf="showChildComponent" [currentProduct]="currentProduct"></app-product-detail>
</div>
<br />
