:host {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.mainblock {
  border: none !important;
  display: block;
  background: url("/assets/images/FRUbg1.svg") repeat center;
  width: 100%;
  height: auto;
  background-size: cover;
}
