<div class="container" style="background-color: #d9d7cf">
  <div class="row text-center justify-content-center">
    <div class="col-auto text-dark">
      <h1 class="display-5 font-italic text-dark" style="text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
        0px -4px 10px rgba(255,255,255,0.3)">SPRING AND SUMMER SALE!</h1>
      <p class="lead text-dark" style="font-weight: 500">Receive a 10% discount at checkout for all spring and summer apperel.</p>
    </div>
  </div>
</div>
<div class="container carousel-block">
  <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/wclothing.jpg" alt="first slide">
    </div>
    <div class="carousel-caption">
      <p class="lead p-1">New styles hitting our shelves every week, there's no better place to shop women's clothes online! Shop sexy club dresses, jeans, shoes, skirts and more.</p>
      <button type="button" class="btn btn-md" style="background-color: #d9d7cf; color: #232323; border-radius: 0;" (click)="onLoadFemaleBrowse()">Shop women</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/mclothing.jpg" alt="second slide">
    </div>
    <div class="carousel-caption">
      <p class="lead p-1">Find Stylish and Classy Clothing For Men. Check Out New Arrivals! Shop our luxe, laidback selections of sport shirts, sweaters, jackets, footwear and more.</p>
      <button type="button" class="btn btn-md" style="background-color: #d9d7cf; color: #232323; border-radius: 0;" (click)="onLoadMaleBrowse()">Shop men</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/kclothing.jpg" alt="third slide">
    </div>
    <div class="carousel-caption">
      <p class="lead p-1">Designer New in of Clothing & Accessories for kids. Get the Newest Spring-Summer 20 Looks from the Latest Designer Clothes for Kids.</p>
      <button type="button" class="btn btn-md" style="background-color: #d9d7cf; color: #232323; border-radius: 0;" (click)="onLoadChildrenBrowse()">Shop children</button>
    </div>
  </ng-template>
</ngb-carousel>
</div>
