/*
@media screen and (max-width: 300px) {
  .carousel-caption {
      bottom: 0;
      padding: 5px;
      z-index: 10;
      color: #fff;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
  }
} */
.carousel-block {
  padding: 0 !important;
}

ngb-carousel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-caption {
  position: absolute;
  right: 10% !important;
  bottom: 20px;
  left: 10% !important;
  z-index: 10;
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  margin-top: auto !important;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

.bg-cover1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/assets/images/wclothing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;  */
}

.bg-cover2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/assets/images/mclothing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;  */
}

.bg-cover3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/assets/images/kclothing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;  */
}
