.marketingblock {
  border: none !important;
  display: block;
  background: url("/assets/images/FRUbg1.svg") repeat center;
  width: 100%;
  height: auto;
  background-size: cover;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.flex-container {
  display: block;
}

.flex-container1 img {
  border-radius: 100px 100px 100px 100px;
}

.flex-container2 img {
  border-radius: 100px 100px 100px 100px;
}

.flex-container3 img {
  border-radius: 100px 100px 100px 100px;
}

.bg-cover1 {
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/assets/images/wclothing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;  */
}

.bg-cover2 {
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/assets/images/mclothing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;  */
}

.bg-cover3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/assets/images/kclothing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;  */
}
