<div class="container border rounded shadow-sm">
  <h5 class="mb-3 mt-3 text-center">Member Profile</h5>
  <div class="row justify-content-center">
    <div class="col-auto">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">Email:       </b> {{user.EMAIL}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">First name:      </b> {{user.FIRSTNAME}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">Last name:      </b> {{user.LASTNAME}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">Address:      </b> {{user.ADDRESSSTREET}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">City:       </b> {{user.CITY}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">State:       </b> {{user.STATE}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">Country:        </b> {{user.COUNTRY}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">Zipcode:       </b> {{user.ZIPCODE}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <b class="mr-3">Phone:        </b> {{user.PHONE}}
          <div type="button" class="btn btn-outline-secondary btn-sm ml-3">Edit</div>
        </li>
      </ul>
    </div>
  </div>
  <br />
</div>
<br />
