<div class="container border rounded shadow-sm">
  <h2 class="mb-3 mt-3 text-center">Member Profile</h2>
  <div class="table-responsive rounded">
    <table class="table table-white">
      <tbody>
        <tr>
          <th scope="row">Email:</th>
          <td>{{user.EMAIL}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
        <tr>
          <th scope="row">First name:</th>
          <td>{{user.FIRSTNAME}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
        <tr>
          <th scope="row">Last name:</th>
          <td>{{user.LASTNAME}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
        <tr>
          <th scope="row">Address:</th>
          <td>{{user.ADDRESSSTREET}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
        <tr>
          <th scope="row">City:</th>
          <td>{{user.CITY}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
        <tr>
          <th scope="row">State:</th>
          <td>{{user.STATE}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
        <tr>
          <th scope="row">Country:</th>
          <td>{{user.COUNTRY}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
        <tr>
          <th scope="row">Zipcode:</th>
          <td>{{user.ZIPCODE}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
        <tr>
          <th scope="row">Phone:</th>
          <td>{{user.PHONE}}</td>
          <td>
            <div type="button" class="btn btn-outline-dark btn-block">Edit</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
</div>
<br />
