
  <div class="container-md jumbotron1 p-4 text-center shadow">
    <div class="col-auto pb-2 text-light">
      <h1 class="display-4 font-italic text-light">SPRING AND SUMMER SALE!</h1>
      <div style="border-style: solid; border-color: white;border-width: 0.5px; width: 30%; margin: auto"></div>
      <p class="lead text-light">Receive a 10% discount at checkout for all spring and summer apperel.</p>
      <div class="text-center p-0">
        <svg class="bi bi-arrow-down-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
        </svg>
      </div>
      <a class="lead text-light" href="#">Subscribe for more offers here</a>
    </div>
    <br />
  </div>
<br />
