<div class="mainblock" [@fromBottomEasing]="!isLoading">
  <div *ngIf="ShowParentComponent">
    <div class="sectionheader">
      <h1>{{pageHeader}}</h1>
    </div>
    <div style="display: block; width: 90vw; min-height: 60vh; border-radius: 2px; background-color: white; margin-left: auto; margin-right: auto;">
      <div class="row row-cols-3 justify-content-center" style="width: 90vw; margin-left: auto; margin-right: auto; background-color: white">
        <div class="col-auto box" style="background: url({{product.IMAGE}}); background-repeat: no-repeat; background-size: contain; background-position: center center;" *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: page, totalItems: length }" [hidden]="isLoading">
          <div class="headerContainer">
            <h1>{{product.GENDER}}<br />{{product.COLOR}} {{product.TYPE}}</h1>
            <button type="button" class="btn" (click)="onLoadDetails(product)">View</button>
          </div>
          </div>
        </div>
      </div>
    <div class="pageClass pageBorder">
      <pagination-controls responsive="true" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div [@fromBottomEasing]="showChildComponent">
    <app-product-detail *ngIf="showChildComponent" [currentProduct]="currentProduct" (close)="onClose()"></app-product-detail>
  </div>
</div>
