<div class="mainblock" *ngIf="!isLoading" [@fromBottomEasing]="!isLoading">

  <div *ngIf="ShowParentComponent">
    <div class="sectionheader">{{pageHeader}}</div>

    <div class="columnSection">
      <div class="rowSection">
        <div class="box" style="background: url({{product.IMAGE}}); background-repeat: no-repeat; background-size: cover; background-position: center;" *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: page, totalItems: length }" [hidden]="isLoading">
          <div class="headerContainer">
            <h1>{{product.GENDER}}<br />{{product.COLOR}} {{product.TYPE}}</h1>
            <button type="button" class="btnPosition" (click)="onLoadDetails(product)">View</button>
          </div>
          </div>
        </div>
      </div>

    <div class="pageClass pageBorder">
      <pagination-controls responsive="true" (pageChange)="page = $event"></pagination-controls>
    </div>

  </div>

  <div [@fromBottomEasing]="showChildComponent">
    <app-product-detail *ngIf="showChildComponent" [currentProduct]="currentProduct" (close)="onClose()"></app-product-detail>
  </div>

</div>
