<div class="mainblock" *ngIf="!isLoading" [@fromLeftEasing]="isLoading">
  <div class="d-block" *ngIf="ShowParentComponent" style="margin: auto">
    <!-- <div class="pageBox"> -->
      <h2 class="display-4 pageHeader">{{pageHeader}}</h2>
    <!-- </div> -->

    <div class="row justify-content-center bg-white" style="width: 100vw">

      <div class="col-auto p-2" style="--hue: 350" *ngFor="let product of products | paginate: { itemsPerPage: 3, currentPage: page, totalItems: length }">
        <div class="flip-card-container">
          <div class="flip-card">
            <div class="card-front">
              <figure>
                <div class="img-bg"></div>
                <img src="{{product.IMAGE}}" alt="Photo">
              </figure>
              <ul>
                <li>{{product.GENDER}}</li>
                <li>{{product.COLOR}}</li>
                <li>{{product.TYPE}}</li>
              </ul>
            </div>
            <div class="card-back">
              <figure>
                <div class="img-bg"></div>
                <img src="{{product.IMAGE}}" alt="Photo">
              </figure>
              <button  (click)="onLoadDetails(product)">View Product</button>
              <div class="design-container">
                <span class="design design--1"></span>
                <span class="design design--2"></span>
                <span class="design design--3"></span>
                <span class="design design--4"></span>
                <span class="design design--5"></span>
                <span class="design design--6"></span>
                <span class="design design--7"></span>
                <span class="design design--8"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pagClass">
      <pagination-controls responsive="true" (pageChange)="page = $event" *ngIf="!isLoading"></pagination-controls>
    </div>
  </div>
  <div [@fromLeftEasing]="showChildComponent">
    <app-product-detail *ngIf="showChildComponent" [currentProduct]="currentProduct" (close)="onClose()"></app-product-detail>
  </div>
</div>
