@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

html, body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  position: relative;
}

::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
